
/* Warm background */
.register-page{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 20%, #a1c4fd 100%); 
}

/* Card */
.register-card{
  background:white;
  padding:35px 40px;
  border-radius:10px;
  width:380px;
  box-shadow:0 12px 30px rgba(0,0,0,0.15);
}

.register-card h2{
  margin-bottom:25px;
  text-align:center;
  color:#333;
}

/* Each field block */
.form-group{
  display:flex;
  flex-direction:column;
  margin-bottom:16px;
}

/* Labels */
.form-group label{
  font-size:14px;
  font-weight:600;
  margin-bottom:6px;
  color:#444;
}

/* Inputs */
.form-group input{
  padding:12px;
  border-radius:6px;
  border:1px solid #ccc;
  font-size:14px;
}

.form-group input:focus{
  outline:none;
  border-color:#f4845f;
}

/* Checkbox */
.checkbox-group{
  display:flex;
  align-items:center;
  gap:8px;
  margin:10px 0 20px 0;
}

.checkbox-group input{
  cursor:pointer;
}

.checkbox-group label{
  font-size:14px;
  cursor:pointer;
}

/* Button */
.register-card button{
  width:100%;
  padding:13px;
  border:none;
  border-radius:6px;
  background-color: black;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.register-card button:hover{
  background:#e76f51;
}

.register-card .error-message{
  color: red;
  font-size: 16px;
  margin:0;
}